.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

a {
  text-decoration: none !important;
}
body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 50px;
}
