@font-face {
  font-family: IRANYekan-Light;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/woff2/IRANYekanWebLight.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekan-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/woff2/IRANYekanWebRegular.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekan-Medium;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/woff2/IRANYekanWebMedium.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekan-Bold;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/woff2/IRANYekanWebBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekan-Black;
  font-style: normal;
  font-weight: 850;
  src: url("/fonts/woff2/IRANYekanWebBlack.woff2") format("woff2");
}
